<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>File Meta Microservice</h1>
        <div class="view">
            <h4 id="output"></h4>
            <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
              <input id="inputfield" type="file" name="upfile">
              <input id="button" type="submit" value="Upload">
            </form>
          </div>
    </div>
</body>
</html>